* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #383838;
  /* padding: 5em 0; */
}

header {
  padding: 1em;
  background: #ff00004f;
  color: #fff;
}

#error-div {
  min-height: 50px;
  text-align: center;
  color: #fff;
  padding: 0.5em 0;
  font-size: 1.5rem;
}

#cash-counter-container {
  max-width: 90%;
  background: #1d1d1d;
  border-radius: 4px;
  padding: 0.5em;
  margin: 2em auto;
}

#input {
  border-bottom: 1px solid #ff00004f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.input-elements {
  margin: 4px;
  width: min(500px, 90%);
}

.input-elements input {
  padding: 3px;
  border: inset 2px #ff6d6d;
  font-size: 1.2rem;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}

#input button {
  padding: 8px;
  margin: 5px;
  width: 88px;
  border-radius: 23px;
  border: inset 2px #ff6d6d;
}

#input button:hover {
  cursor: pointer;
}

#input button:active {
  border-color: #000;
}

#output-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  padding: 5px;
  border-top: 1px solid #ff00004f;
}

.output-boxes {
  display: flex;
  background: #383838;
  color: #fff;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.output-boxes img {
  width: 95%;
  height: 50%;
}

.coins {
  width: 10px;
}

.output-number {
  text-align: center;
  background: #1d1d1d;
  width: 95%;
  border-radius: 20px;
  font-size: 1.4rem;
  padding: 4px 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  padding: 1em;
  background: #ff00004f;
  padding-bottom: 1px;
  color: #fff;
}

#social-media-tab li {
  margin: 10px;
}

.social-media-links:hover {
  text-decoration: underline;
}

#portfolio-link {
  margin-top: 20px;
  opacity: 0.6;
  transition: all 250ms;
}
#portfolio-link:hover {
  opacity: 1;
}

footer {
  font-size: 0.8rem;
  text-align: center;
}
